.close-icon {
  width: 24px;
  height: 24px;
  background: url("../images/icons/close.svg") no-repeat center center;
}

.lock-icon {
  width: 12px;
  height: 14px;
  background: url("../images/icons/lock.svg") no-repeat center center;
}

.diamond-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("../images/icons/diamond.svg") no-repeat center center;
  vertical-align: middle;
}
