.card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px;
    gap: 24px;
    background: #F8F8F8;
    border-radius: 30px;
    margin-bottom: 40px;
    @media screen and (min-width: 1024px) {
        flex-direction: row;
        padding: 60px;
        gap: 80px;
    }
    &:last-child{
        margin-bottom: 0;
    }
}

.brand-card-holder{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}
.brand-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 82px;
    border-radius: 4px;
    // border: 1px solid #E3E3E3;
    background-color: #F8F8F8;
    @media screen and (min-width: 1281px) {
        width: 135px;
        height: 82px;
    }
}
.strategies-cards{
    @media screen and (min-width: 1024px) {
        padding-bottom: 64px;
        border-bottom: 1px solid rgba($color: #000000, $alpha: .5);
    }
    .card{
        .shape-3, .shape-4, .shape-5{
            position: absolute;
            display: none;
        }
        .shape-3{
            top: 61.5px;
            right: -50px;
            @media screen and (min-width: 1281px) {
                right: -100px;
            }
        }
        .shape-4{
            top: 61.5px;
            left: -50px;
            @media screen and (min-width: 1281px) {
                left: -100px;
            }
        }
        
        .shape-5{
            top: 61.5px;
            right: -50px;
            background-color: $defaultColor;
            @media screen and (min-width: 1281px) {
                right: -100px;
            }
        }
    }
}
.services-strategies-cards{
    padding-bottom: 0;
    border-bottom: 0;
}
.lg-grid{
    position: relative;
    width: 100%;
    height: 100%;
    background: transparent;
    @media screen and (min-width: 1024px) {
        height: 100dvh;
        background: linear-gradient(182.45deg, #96B7DA 3.34%, #ABCAE7 41.72%, #B4D4ED 63.71%, #C4DDF3 99.29%, #C4DDF3 99.29%);
    }
    .max-w-sm{
        position: relative;
    }
    &::before{
        display: none;
        content: '';
        position: absolute;
        right: 0;
        width: 80dvw;
        height: 100%;
        background: url('https://cdn.glitch.global/33ca5bfe-d1bf-448f-bdb2-2df5f485918c/nova-craft-ales-v2.png?v=1741542021855') no-repeat top right;
        background-size: cover;
        transform: scale(0.80);
        transform-origin: bottom right;
        transition: all 0.6s ease-in-out;
        @media screen and (min-width: 1024px) {
            display: block;
        }
    }
    &:hover{
        &::before{
            transform: scale(0.82);
        }
    }
}
.grid-holder{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    @media screen and (min-width: 1024px) {
        height: 80dvh;
    }
    &::after{
        content: '';
        display: none;
        position: absolute;
        left: 0;
        width: 50%;
        height: 100%;
        background-color: transparent;
        @media screen and (min-width: 1024px) {
            display: block;
            background-color: #EEEEEF;    
        }
    }
    &::before{
        content: '';
        display: none;
        position: absolute;
        right: 0;
        width: 50%;
        height: 100%;
        background-color: transparent;
        @media screen and (min-width: 1024px) {
            display: block;
            background-color: #FDC067;
        }
    }
}
.sm-grid{
    position: relative;
    width: 100%;
    // padding-bottom: 80px;
    background: transparent;
    z-index: 1;
    overflow: hidden;
    @media screen and (min-width: 1024px) {
        width: 50%;
        background: #EEEEEF;
    }
    .max-w-md{
        position: relative;
        // padding-bottom: 80px;
        z-index: 1;
        @media screen and (min-width: 1024px) {
            padding-bottom: 80px;
        }
    }
    img{
        position: static;
        bottom: 0;
        right: -14%;
        transition: all 0.6s ease-in-out;
        // transform: scale(0.8);
        transform-origin: center center;
        @media screen and (min-width: 1024px) {
            position: absolute;
        }
    }
    &:hover{
        img{
            transform: scale(1.1);
        }
    }
    &:last-child{
        background: transparent;
        @media screen and (min-width: 1024px) {
            padding: 0 80px 0;
            background: #FDC067;
        }
        img{
            position: static;
            top: -10%;
            left: 0;
            right: 0;
            // margin: 0 auto;
            @media screen and (min-width: 1024px) {
                position: absolute; 
                margin: 0 auto;
            }
        }
    }
}


.testimonial-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 24px 24px 36px;
    background: #F7F8FA;
    @media screen and (min-width: 1024px) {
        padding: 48px 36px;
    }
    .author-pic-holder{
        position: relative;
        width: 96px;
        height: 96px;
        margin-bottom: 32px;
        .testimonial-shape{
            position: absolute;
            top: 20px;
            left: calc(100% - 20px);
            width: 56px;
            height: 56px;
        }
    }
    .author-pic{
        position: relative;
        width: 96px;
        height: 96px;
        border-radius: 50%;
        z-index: 1;
    }
    .testimonial-text{
        font-style: normal;
        font-weight: 700 !important;
        font-size: 18px !important;
        line-height: 24px;
        color: #000;
        margin-bottom: 20px;
        
    }
    .testimonial-copy{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #000;
        margin-bottom: 20px;
    }
    .author-name{
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #28264D;
    }
    .author-role{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #000;
    }
}

// owl-stage
.owl-carousel{
    position: relative;
    .owl-nav{
        display: flex;
        position: absolute;
        right: 0;
        top: -100px;
        gap: 10px;
        margin: 0 !important;
        button{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 !important;
            width: 44.25px;
            height: 44.25px;
            border: 1.5px solid #2C3E50 !important;
            border-radius: 50% !important;
            cursor: pointer;
            &:hover{
                background-color: #000 !important;
                span{
                    color: #fff;
                }
            }
            &.disabled{
                &:hover{
                    background-color:transparent !important;
                    span{
                        color: $defaultColor;
                    }
                }
            }
            span{
                display: inline-block;
                font-size: 32px;
                line-height: 32px;
                color: $defaultColor;
            }
        }
        
    }
}
.owl-stage{
    display: flex;
    .owl-item{
        display: flex;
        flex-direction: column;
        .testimonial-card{
            flex: 1;
        }
    }
}
.custom-owl-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    .custom-next-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44.25px;
        height: 44.25px;
        border-radius: 50%;
        border: 1.5px solid #2C3E50;
        cursor: pointer;
        img{
            filter: invert(1);
            transform: rotate(180deg);
        }
    }
    .custom-prev-btn{
        @extend.custom-next-btn;
        img{
            transform: none;       
        }
    }
}

.contact-us-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 30px 50px;
    gap: 30px;
    background: #F7F4F2;
    backdrop-filter: blur(22px);
    border-radius: 30px;
    .sm-custom-heading{
        font-size: 22px !important;
        line-height: 28px;
    }
}

.work-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    // flex: 1;
    // max-width: 280px;
    @media screen and (min-width: 1024px) {
        justify-content: start;
        flex-basis: 48%;
        max-width: 620px;
    }
    img{
        display: block;
        margin-bottom: 10px;
        border-radius: 30px;
        @media screen and (min-width: 1024px) {
            
            margin-bottom: 20px;
        }
    }
}